.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 220px;
    height: 110px;
    margin-top: 60px;
    padding: 18px;
    font-size: 12px;
    background: black;
    justify-self: center;
    border-radius: 10px;
    color: white;
}

img{
    width: 100px;
    height: 100px;
}

.types{
    color: white;
}

.info{
    height: 100px;
}

button{
    align-self:flex-end;
    right: 0;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-style: none;

}